.basic {
    margin-top: 270px;
    margin-bottom: 154px;
    @media(max-width: 829px){
        margin-top: 170px;
    }
    @media(max-width: 596px){
        margin-bottom: 0;

    }
    .basic__conteiner {
    }
}
.basic__body {
    display: flex;
    @media(max-width: 800px){
        flex-wrap: wrap;
    }
}

.basic__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 50%;
    @media(max-width: 800px){
        flex: 0 0 100%;
        margin-bottom: 45px;
    }
    .basic__link-restoran {
        transition: all 0.5s ease;
        @media(max-width: 829px){
            font-size: 16px;
            color: #fff;
            padding: 10px 20px
        }
        &:hover{
            color: #311f09;
            transition: all 0.5s ease;
            scale: 1.1;
            box-shadow: 0 0 20px 5px #ff8a00;
        }
        font-weight: 600;
        font-size: 20px;
        color: #fff;
        border-radius: 40px;
        background: #ff8a00;
        margin-bottom: 30px;
        padding: 15px 25px

    }

    .basic__title {
        @extend %titleFonts;
        margin-bottom: 30px;

    }
    .basic__text {
        @extend %textFonts;
        margin-bottom: 77px;
        @media(max-width: 829px){
        margin-bottom: 37px;
        }
    }
    .basic__links-links {
        display: flex;
        align-items: center;
        gap: 25px;
        @media(max-width: 829px){
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            gap: 0;
        }
        .basic__link-order {
            @extend %mainBgColor;
            @extend %mainButtonTextColor;
            transition: all 0.5s ease;
            &:hover{
                color: #311f09;
                transition: all 0.5s ease;
                scale: 1.1;
                box-shadow: 0 0 20px 5px #ff8a00;
            }
            @media(max-width: 986px){
                padding: 6px 20px;
            }
            @media(max-width: 800px){
                padding: 10px 45px;
            }
            @media(max-width: 390px){
                padding: 6px 20px;
            }

        }
        .basic__links-reservation {
            @extend %secondBgColor;
            @extend %mainButtonTextColor;
            transition: all 0.5s ease;
            &:hover{
                color: #311f09;
                transition: all 0.5s ease;
                scale: 1.1;
                box-shadow: 0 0 20px 5px #3fa72f;
            }
            @media(max-width: 986px){
                padding: 6px 20px;
            }
            @media(max-width: 800px){
                padding: 10px 45px;
            }
            @media(max-width: 390px){
                padding: 6px 20px;
            }
        }
    }
}

.basic__images {
    position: relative;
    display: flex;
    @media(max-width: 800px){
        margin: 0 auto;
    }
    .basic__image-pasta {
        z-index: 2;
        display: flex;
        img{
            width: 100%;
            flex: 0 0 50%;
        }
    }
    .basic__image-salad1 {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        img{
            width: 100%;
            @media(max-width: 420px){
            width: 50%;
            }
        }
    }
    .basic__image-salad2 {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        @media(max-width: 420px){
            bottom: 17px;
            right: -128px;
            }
        img{
            width: 100%;
            @media(max-width: 420px){
            width: 50%;
            }
        }
    }
}


    // .basic__images {
    //     position: relative;
    //     flex: 0 0 50%;
    //     @media(max-width: 596px){
    //         flex: 0 0 100%;
    //         height: 600px;
    //     }
    //     .basic__image-pasta {
    //         position: relative;
    //         width: 100%;
    //         .pasta-image{
    //             position: absolute;
    //             width: 100%;
    //             z-index: 2;
    //         }
    //         .basic__image-sald1 {   
    //             position: relative;
    //             top: 0;
    //             left: 0;
    //             width: 30%;
    //             img{
    //                 width: 100%;
    //             }
    //         }
    //         .basic__image-sald2 {
    //             position: absolute;
    //             top: 140%;
    //             right: 22px;
    //             transform: translate(0, 0);
    //             width: 48%;
    //             img{
    //                 width: 100%;
    //             }
    //         }
    //     }
    // }
