.basic {
    margin-top: 270px;
    margin-bottom: 154px;
    .basic__conteiner {
    }
}
.basic__body {
    display: flex;
}

.basic__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 0 50%;
    .basic__link-restoran {
        transition: all 0.5s ease;
        &:hover{
            color: #311f09;
            transition: all 0.5s ease;
            scale: 1.1;
            box-shadow: 0 0 20px 5px #ff8a00;
        }
        font-weight: 600;
        font-size: 20px;
        color: #fff;
        border-radius: 40px;
        background: #ff8a00;
        margin-bottom: 30px;
        padding: 15px 25px

    }

    .basic__title {
        @extend %titleFonts;
        margin-bottom: 30px;

    }
    .basic__text {
        @extend %textFonts;
        margin-bottom: 77px;
        
    }
    .basic__links-links {
        display: flex;
        align-items: center;
        gap: 25px;
        .basic__link-order {
            @extend %mainBgColor;
            @extend %mainButtonTextColor;
            transition: all 0.5s ease;
            &:hover{
                color: #311f09;
                transition: all 0.5s ease;
                scale: 1.1;
                box-shadow: 0 0 20px 5px #ff8a00;
            }
        }
        .basic__links-reservation {
            @extend %secondBgColor;
            @extend %mainButtonTextColor;
            transition: all 0.5s ease;
            &:hover{
                color: #311f09;
                transition: all 0.5s ease;
                scale: 1.1;
                box-shadow: 0 0 20px 5px #3fa72f;

            }
        }
    }
}



.basic__images {
    position: relative;
    flex: 0 0 50%;
    .basic__image-pasta {
        position: relative;
        width: 100%;
        .pasta-image{
            position: absolute;
            width: 100%;
            z-index: 2;
        }
        .basic__image-sald1 {   
            position: relative;
            top: 0;
            left: 0;
            width: 30%;
            img{
                width: 100%;
            }
        }
        .basic__image-sald2 {
            position: absolute;
            top: 140%;
            right: 22px;
            transform: translate(0, 0);
            width: 48%;
            img{
                width: 100%;
            }
        }
    }
}
