.welcome {
    background: #2a834951;
    margin: 150px 0;
    .welcome__conteiner {
        .welcome__body {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .welcome-paralax{
                position: absolute;
                width: 100%;
                height: 60%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}


.welcome__images {
    flex: 0 0 60%;
    position: relative;
    display: flex;
    .welcome__main-image {
        img{
            width: 100%;
            filter: drop-shadow(-20px 55px 12px #454545fe);
        }
    }
    .welcom__leaf-body{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 70%;
        height: 70%;
        flex: 1 1 auto;
        .welcome__leaf-image1 {
            top: 0;
            right: 0;
            img{
                filter: drop-shadow(-5px 55px 20px);
            }
        }
        .welcome__leaf-image2 {
            right: 0;
            bottom: 0;
            img{
                filter: drop-shadow(-5px 55px 20px);
            }
        }
        .welcome__leaf-image3 {
            left: -20%;
            top: 50%;
            transform: translate(10%, -50%);
            img{
                filter: drop-shadow(-5px 55px 20px);
            }
        }
    }

}
.welcome-leaf {
    position: absolute;
    width: 180px;
    img{
        width: 100%;
    }
}


.welcome__informations {
    display: flex;
    flex-direction: column;
    flex: 1 1 40%;
    align-self: center;
    .welcome__title {
        margin-top: 40px;
        margin-bottom: 50px;
    }
    .welcome__text {
        margin-bottom: 30px;

    }
    .welcome__link {
        transition: all 0.5s ease;
        align-self: flex-start;
        margin-bottom: 60px;
        @extend %mainBgColor;
        @extend %mainButtonTextColor;
        &:hover{
            color: #311f09;
            transition: all 0.5s ease;
            scale: 1.1;
            box-shadow: 0 0 20px 5px #ff8a00;
        }
    }
}




